<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\Report\env\Scripts\python.exe|C:\Users\vkumar33\AppData\Local\Programs\Python\Python39\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
	<directoryBrowse enabled="true" />
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".js" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\Report\vitoux_report\automated-pivot-report-main\web-version\djangoApp" />
    <add key="WSGI_HANDLER" value="djangoApp.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="djangoApp.settings" />
  </appSettings>
</configuration>